<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>FirewallGG - Home</title>
        <link rel="icon" href="/assets/logo.png">
        <meta name="description" content="FirewallGG is a new form of Discord background checking allowing you to get as-much data as possible with just the click of a button!" />
        <meta property="og:title" content="FirewallGG - Home" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="FirewallGG is a new form of Discord background checking allowing you to get as-much data as possible with just the click of a button!" />
        <meta name="theme-color" content="#5865F2">
        <meta property="og:image" content="/assets/logo.png">
    </head>
    <body>
        <%- include('_header') %>
        <div class="container text-white text-center bg-dark" style="border-radius: 1em;">
            <br>
            <h1 style="font-weight: 700;" class="mb-4"><i class="fa-solid fa-shield-halved"></i> FirewallGG Security</h1>
            <p class="mx-auto" style="width: 90%;">Welcome to FirewallGG! This is an API middleware that is allowing you to keep your Discord communities, Discord web based services, and much more secure to a new standard! FirewallGG is entirely open source and is accepting contributions right now! We are striving every day to redefine what a safe and secure community is on Discord. Interested in helping the project or contributing? Check out <a href="https://github.com/Itz-Hyperz/firewallgg" target="_blank" style="color: rgb(0, 162, 255);">our GitHub</a> for more information on the project! You can also see <a href="https://hyperz.net/discord" target="_blank" style="color: rgb(0, 162, 255);">our Discord</a> for community news, updates on FirewallGG, new bans that are now in place, and much much more!</p>
            <br>
            <div class="row justify-content-center">
                <div class="col-4 mb-3">
                    <a class="btn btn-primary homebuttonlol" href="https://hyperz.net/discord" target="_blank"><i class="fa-brands fa-discord"></i> Our Discord</a>
                </div>
                <div class="col-4 mb-3">
                    <a class="btn btn-primary homebuttonlol" href="https://github.com/Itz-Hyperz/firewallgg" target="_blank"><i class="fa-brands fa-github"></i> Our Github</a>
                </div>
                <div class="col-4 mb-3">
                    <a class="btn btn-primary homebuttonlol" href="/api"><i class="fa-solid fa-code-compare"></i> Our Endpoints</a>
                </div>
            </div>
            <br>
        </div>
        <br>
        <div class="container text-white text-center bg-dark" style="border-radius: 1em;">
            <br>
            <h1 style="font-weight: 700;">Search A User Id</h1>
            <p>Use the below search box to search a user Id and return any active bans via our API.</p>
            <br>
            <form action="/backend/search" method="post">
                <div class="mb-3">
                    <label style="font-weight: 600;" for="userid" class="form-label">Discord User Id</label>
                    <input type="text" class="form-control text-white bg-dark" name="userid" id="userid" placeholder="Input a user Id..." required>
                </div>
                <button type="submit" class="btn btn-primary" style="width: 60%"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
            </form>
            <br>
        </div>
        <br>
        <div class="container text-white text-center bg-dark" style="border-radius: 1em;">
            <br>
            <h1 style="font-weight: 700;">Databases</h1>
            <p>Below you can view the added databases we support.</p>
            <br>
            <div class="container">
                <div class="row justify-content-center align-items-center text-center">
                    <% databases.forEach(function(database) { %>
                        <div class="col-sm-2">
                            <img  style="height: 10em; width: 10em; margin-bottom: 1em; border-radius: 1em;" src="<%= database.logoUrl %>">
                            <h4 style="font-size: 1.3em; font-weight: 700; margin-bottom: 1em;"><a href="<%= database.appealLink %>" target="_blank"><%= database.name %></a></h4>
                        </div>
                        <div class="hiddenHr">
                            <hr>
                        </div>
                    <% }); %>
                </div>
                <br>
                <a class="btn btn-primary" style="width: 100%" href="https://github.com/Itz-Hyperz/firewallgg/blob/main/databases.json" target="_blank"><i class="fa-solid fa-plus"></i> Add Your Database</a>
            </div>
            <br>
        </div>
        <br>
        <div class="container text-white text-center bg-dark" style="border-radius: 1em;">
            <br>
            <h1 style="font-weight: 700;">Affiliated Services</h1>
            <p>Below you will find our integrated services and affiliates.</p>
            <br>
            <div class="container">
                <div class="row justify-content-center align-items-center text-center">
                    <% partners.forEach(function(partner) { %>
                        <div class="col-sm-2">
                            <img  style="height: 10em; width: 10em; margin-bottom: 1em; border-radius: 1em;" src="<%= partner.logo %>">
                            <h4 style="font-weight: 700; margin-bottom: 1em;"><a href="<%= partner.url %>" target="_blank"><%= partner.name %></a></h4>
                        </div>
                        <div class="hiddenHr">
                            <hr>
                        </div>
                    <% }); %>
                </div>
            </div>
            <br>
        </div>
        <br>
        <div class="container text-white text-center bg-dark" style="border-radius: 1em;">
            <br>
            <h1 style="font-weight: 700;">Project Contributors</h1>
            <p>View all of our <a href="https://github.com/itz-hyperz/firewallgg" target="_blank">project contributors</a> below!</p>
            <br>
            <div class="container">
                <div class="row justify-content-center align-items-center text-center">
                    <% contributors.forEach(function(user) { %>
                        <div class="col-sm-3">
                            <img  style="height: 10em; width: 10em; margin-bottom: 1em; border-radius: 50%;" src="<%= user.avatar_url %>">
                            <h4 style="font-weight: 700; margin-bottom: 1em;"><a href="<%= user.profile %>" target="_blank"><%= user.name || user.login %></a></h4>
                        </div>
                        <div class="hiddenHr">
                            <hr>
                        </div>
                    <% }); %>
                </div>
            </div>
            <br>
        </div>
        <br>
        <%- include('_footer') %>
    </body>
</html>