<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>FirewallGG - Search</title>
        <link rel="icon" href="/assets/logo.png">
        <meta name="description" content="FirewallGG is a new form of Discord background checking allowing you to get as-much data as possible with just the click of a button!" />
        <meta property="og:title" content="FirewallGG - Search" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="FirewallGG is a new form of Discord background checking allowing you to get as-much data as possible with just the click of a button!" />
        <meta name="theme-color" content="#5865F2">
        <meta property="og:image" content="/assets/logo.png">
    </head>
    <body>
        <%- include('_header') %>
        <div class="container text-white text-start bg-dark" style="border-radius: 1em;">
            <br>
            <h1 style="font-weight: 700; margin-bottom: 0.3em;">Search Results</h1>
            <% if(bannedList.length >= 1) { %>
                <div class="alert alert-danger text-center" role="alert">
                    <% if(bannedList.length > 1) { %>
                        <%= bannedList.length %> ban results were found for user Id <code><%= searchId %></code>
                    <% } else { %>
                        <%= bannedList.length %> ban result was found for user Id <code><%= searchId %></code>
                    <% }; %>
                </div>
                <hr>
                <br>
                <div class="container">
                    <% bannedList.forEach(function(ban) { %>
                        <div class="row dbInfos bg-secondary" style="border-color: <%= ban.themeColor %>; border-width: 0.1em; border-style: solid;">
                            <h2 style="font-weight: 700; text-align: center; color: <%= ban.themeColor %>"><%= ban.database %></h2>
                            <p><span style="font-weight: 700;">Active:</span> <%= ban.active %></p>
                            <p><span style="font-weight: 700;">Reason:</span> <%= ban.reason %></p>
                            <p><span style="font-weight: 700;">Proof:</span> <%= ban.proof %></p>
                            <p><span style="font-weight: 700;">Time:</span> <%= ban.time %></p>
                        </div>
                        <br>
                        <hr>
                        <br>
                    <% }); %>
                </div>
            <% } else { %>
                <div class="alert alert-success text-center" role="alert">
                    No ban results were found for user Id <code><%= searchId %></code>
                </div>
            <% } %>
            <br>
        </div>
        <%- include('_footer') %>
    </body>
</html>
